<h1> listing of pujas available </h1>
<p> Pujas are religious ceromonies for invoking blessings
  for particular reasons. On a wordly level pujas help to provide
positive engeries to furfill our worldly wishes such as good health and being
free from life obstacles. But on the utimate level it plant the root for us to
reconize the non-duality of relative and absolute truth. </p>

<p> Your money will go directly to buying offerings and to the monks </p>
<p> Our monks typically live under 1 USD a day, and is totally reliant on kind hearted people
  like you to sponsor their livelyhood. Although we would still perform the puja even if less
then the amount is given, altough the monks would still provide their best </p>

<p> we do not get a single cent, except the fees needed for transfer </p>
<br>

<% @pujas.each do |puja| %>

    <p>Name: <%= puja.name %> </p>
    <p>Descriptions:<br> <%= puja.description.truncate_words(25) %> </p>
    <p>Benefit:<br> <%= puja.benefit.truncate_words(25) %> </p>
    <p>Suggested_offering: <%= puja.suggested_offering %> </p>
    <%= link_to 'Show', puja_path(puja) %>
    <%= link_to 'Edit', edit_puja_path(puja) %>
    <%= link_to 'Destroy', puja_path(puja),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<% end %>

<%= link_to 'New puja', new_puja_path %>

<%= link_to 'Home', root_path %>
