<h1>Edit picture here</h1>



<%= form_for :picture, url: picture_path(@picture), method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :picture_image %>
    <%= f.file_field :image, title: "Please choose file", class: "file-picker" %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', pictures_path %>

<script>
    displayFile = (object) ->
      file = object.value.split("\\")
      filename = file[file.length-1]
      $("#file-name").text(filename)

    $("#file-btn").on "click", ->
      $("#file-picker").click()

    $("#file-picker").on "change", ->
      displayFile(this)
  </script>
